
@{
    ViewBag.Title = "Textarea";
}

<h2>Textarea</h2>

<form role="form">
    <div class="form-group">
        <label for="name">Text Area</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
</form>
