
@{
    ViewBag.Title = "Default_List_Group";
}

<h2>Default_List_Group</h2>

<ul class="list-group">
    <li class="list-group-item">Free Domain Name Registration</li>
    <li class="list-group-item">Free Window Space hosting</li>
    <li class="list-group-item">Number of Images</li>
    <li class="list-group-item">24*7 support</li>
    <li class="list-group-item">Renewal cost per year</li>
</ul>
