@{
    ViewBag.Title = "Linking_List_Group_Items";
}

<h2>Linking_List_Group_Items</h2>

<div class="list-group">
    <a href="#" class="list-group-item active">
        Free Domain Name Registration
    </a>
    <a href="#" class="list-group-item">24*7 support</a>
    <a href="#" class="list-group-item">Free Window Space hosting</a>
    <a href="#" class="list-group-item">Number of Images</a>
    <a href="#" class="list-group-item">Renewal cost per year</a>
</div>