@{
    ViewBag.Title = "Image_Classes";
}

<h2>Image_Classes</h2>

<img src="~/Images/smallSize.png"
     class="img-rounded">
<img src="~/Images/smallSize.png"
     class="img-circle">
<img src="~/Images/smallSize.png"
     class="img-thumbnail">
