
@{
    ViewBag.Title = "Create_Thumbnail";
}

<h2>Create_Thumbnail</h2>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/smallSize.png"
                 alt="Generic placeholder thumbnail">
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/smallSize.png" alt="Generic placeholder thumbnail">
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/smallSize.png"
                 alt="Generic placeholder thumbnail">
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/smallSize.png"
                 alt="Generic placeholder thumbnail">
        </a>
    </div>
</div>
