
@{
    ViewBag.Title = "Center_Content_Blocks";
}

<h2>Center_Content_Blocks</h2>

<div class="row">
    <div class="center-block" style="width:200px;background-color:#ccc;">
        This is an example for center-block
    </div>
</div>
