
@{
    ViewBag.Title = "Mobile_First";
}

<h2>Mobile_First</h2>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    ....
</body>
</html>

