@{
    ViewBag.Title = "Alert_Methods";
}

<h2>Alert_Methods</h2>

<h3>Alert messages to demonstrate alert() method </h3>
<div id="myAlert1" class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> the result is successful.
</div>
<div id="myAlert2" class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Warning!</strong> There was a problem with your
    network connection.
</div>
<h3>Alert messages to demonstrate alert('close') method </h3>
<div id="myAlert3" class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> the result is successful.
</div>
<div id="myAlert4" class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Warning!</strong> There was a problem with your
    network connection.
</div>
<button id="btn" type="button" class="btn btn-primary">Close All Alerts</button>
<script type="text/javascript">
    $(function () {
        $(".close").click(function (e) {
            var target = e.target;
            $(target).alert();
        });

        $('#btn').click(function () {
            $('.alert').alert('close');
        });
    });
</script>


