
@{
    ViewBag.Title = "Create_Alert";
}

<h2>Create_Alert</h2>

<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">
        &times;
    </a>
    <strong>Warning!</strong> There was a problem with your
    network connection.
</div>
