
@{
    ViewBag.Title = "Panel_with_Footer";
}

<h2>Panel_with_Footer</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        Panel heading without title
    </div>
    <div class="panel-body">
        This is a Basic panel
    </div>
    <div class="panel-footer">Panel footer</div>
</div>
