
@{
    ViewBag.Title = "Panel_with_List_Group";
}

<h2>Panel_with_List_Group</h2>

<div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p>
            This is a Basic panel content. This is a Basic panel content. This is a Basic panel content.This
            is a Basic panel content.
            This is a Basic panel content.This is a Basic panel content.
            This is a Basic panel content.
        </p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Free Domain Name Registration</li>
        <li class="list-group-item">Free Window Space hosting</li>
        <li class="list-group-item">Number of Images</li>
        <li class="list-group-item">24*7 support</li>
        <li class="list-group-item">Renewal cost per year</li>
    </ul>
</div>
