
@{
    ViewBag.Title = "Basic_Button_Groups";
}

<h2>Basic_Button_Groups</h2>

<div class="btn-group">
    <button type="button" class="btn btn-default">Button 1</button>
    <button type="button" class="btn btn-default">Button 2</button>
    <button type="button" class="btn btn-default">Button 3</button>
</div>