
@{
    ViewBag.Title = "Active_State";
}

<h2>Active_State</h2>

<p>
    <button type="button" class="btn btn-default btn-lg ">
        Default Button
    </button>
    <button type="button" class="btn btn-default btn-lg active">
        Active Button
    </button>
</p>
<p>
    <button type="button" class="btn btn-primary btn-lg ">
        Primary button
    </button>
    <button type="button" class="btn btn-primary btn-lg active">
        Active Primary button
    </button>
</p>
