@{
    ViewBag.Title = "Lead_Body_Copy";
}

<h2>Lead_Body_Copy</h2>

<h2>Lead Example</h2>
<p class="lead">
    This is an example paragraph demonstrating the use of lead
    body
    copy. This is an example paragraph demonstrating the use of lead body copy.This is
    an example paragraph demonstrating the use of lead body copy.This is an example
    paragraph demonstrating the use of lead body copy.This is an example
    paragraph
    demonstrating the use of lead body copy.
</p>
